/* -------------------------------------------------- General Styles */
.light-background {
    background-color: var(--bgWhite);
}

.primary-btn {
    background-color: var(--bgBlack);
}

.main-text-color{
    color: var(--Black) ;
}

.dark-btn-text-color{
    color: var(--bgWhite) ;
}

.highlight-color{
    color: var(--Orange) ;
}

.darker-background{
    background-color: var(--Cream);
}

.font-roboto {
    font-family: var(--Roboto);
}

.text.center {
    text-align: var(--center);
}



/* -------------------------------------------------- Root Variables*/
:root {
    /* font-family: var(--Roboto); */
    --Roboto: 'Roboto', sans-serif;
    /* color: var(--bgWhite); 
       background-color: var(--bgWhite);*/
    --bgWhite: #FFFEFC;
    /* color: var(--bgBlack); 
       background-color: var(--bgBlack);*/
    --bgBlack: #000000;
    /* color: var(--Black); */
    --Black: #1A222D;
    /* color: var(--Orange); */
    --Orange: #FE9902;
    /* color: var(--Cream); */
    --Cream: #F9F5F1;
    /* text-align: center; */
    --center: center;
}

/* -------------------------------------------------- Body Styles*/
body{
    overflow-x: hidden;
}

h1 {
    font-weight: 700;
    font-size: 72px;
}


h2 {
    font-size: 36px;
    font-weight: 500;
}

h3{
    font-weight: 600;
    font-size: 34px;
    padding-top: 20px;
    padding-bottom: 20px;
}

p{
    font-size: 24px;
}

.btn{
    text-align: center;
    background-color: var(--bgBlack);
    text-transform: unset;
    border-radius: 10px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-top: 10px;
}
.btn:hover{
    color: var(--bgBlack);
    font-weight: 600;
    border-color: var(--bgBlack);
    border-style: solid;
    background-color: var(--bgWhite);
}

/* -------------------------------------------------- Navbar Styles*/

#logo{
    padding-left: 2rem;
    color: var(--Black) ;
    font-size: 40px;
    font-weight: 600;
    text-decoration: underline 10px solid var(--Orange);
}

#navbar-style{
    background-color: var(--Cream);
    color: var(--Black) ;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

#navbar-menu{
    color: var(--bgBlack);
}

nav ul a {
    color: var(--Black);
    font-weight: 500;
    font-size: 20px;
}

nav .sidenav-trigger i {
    height: 56px;
    line-height: 56px;
    color: var(--Black);
    font-size: 50px;
}

@media only screen and (min-width: 601px){
nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    color: var(--Black);
    font-size: 50px;
}
}

nav ul li.active {
    border-bottom: 3px solid var(--Orange);
    background-color: var(--Cream);
}

button{
    background-color: var(--Black);
}

.sidenav{
    background-color: var(--Cream);
}

.sidenav-close{
    background-color: var(--Cream);
}

.sidenav-logo{
    padding-left: 30px;
    text-decoration: underline 5px solid var(--Orange);
}

.close-icon{
    color: var(--Black);
}

.sidenav li>a>i.material-icons {
    float: right;
    color: var(--Black);
    font-size: 40px;
}

.sidenav-close {
    padding-top:10px;
    padding-bottom: 10px;
}
.sidenav-close:hover {
    background-color: var(--Cream);
}

#sidenav-btn:hover{
    background-color: var(--Cream);
    color: var(--bgBlack);
    border: 1px solid var(--Black) ;
}

/* --------------------------------------------------- Forms */

/* input field color */
.input-field {
    background-color: var(--Cream);
    border-style: solid;
    border-radius: 10px;
    border-color: var(--Cream);
  }

  /* icon prefix focus color */
  .input-field .prefix {
    color: #000;
  }

  .field-row{
    background-color: var(--Cream);
    border-radius: 10px;
    padding-top: 10px
  }

/* --------------------------------------------------- Landing Page */

.home-heading{
    font-weight: 700;
    font-size: 72px;
}

@media only screen and (min-width: 768px){
.home-heading {
    font-size: 80px;
}
}

.landing {
    background-repeat: no-repeat, no-repeat;
    min-width: 100vw;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    background-color: var(--Cream);
    padding-bottom: 20px;
}

.landing-img {
    width: 100%;
}

.landing-row {
    padding-top: 10px;
}

@media only screen and (min-width: 768px) {
/* For desktop: */
    .home-intro {
        font-size: 30px;
    }
}

#home-features-btn{
    background-color: var(--Black);
    color: var(--Cream);
    font-weight: 700;
}

#home-features-btn:hover{
    background-color: var(--Cream);
    color: var(--bgBlack);
    border: 1px solid var(--Black) ;
}

#featured-section{
    margin-top: 60px;
}

.featured-cat{
    font-size: 20px;
    color: #BABABA;
    font-weight: 600;
}

#home-login-btn{
    background-color: var(--Black);
    color: var(--Cream);
    font-weight: 700;
}
    
#home-login-btn:hover{
    background-color: var(--Cream);
    color: var(--bgBlack);
    border: 1px solid var(--Black) ;
}


/* --------------------------------------------------- Log In & Sign Up Pages */

.note-p{
    font-size: 15px;
}

.redirect-p{
    color: var(--Orange)
}

/* --------------------------------------------------- Flash Messages */

.flashes h4{
    line-height: 2;
    color: var(--Orange)
}

/* --------------------------------------------------- Resources */

.resource-btn-c{
    margin-bottom: 30px;
}


.resource-add-btn{
    background-color: var(--Black);
    color: var(--Cream);
    font-weight: 500;
    padding-top: 8px;
    padding-bottom: 45px;
    padding-left: 10px;
}

.resource-add-btn:hover{
    background-color: var(--Cream);
    color: var(--bgBlack);
    border: 1px solid var(--Black) ;
}

#card-col{
    width: 80%;
    margin: auto;
}

.resources-card{
    background-color: var(--Cream);
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 30px;
}

.resource-content{
    color: var(--Black);
}

.resource-title{
    font-size: 24px;
    font-weight: 600;
    padding-bottom:0px;
}

#resource-list li{
    display: inline;
}


.resource-p{
    font-size: 14px;
}

.resource-cat{
    padding: 5px 15px;
    border-radius: 20px;
    border: 1px solid var(--Black);
    background-color: var(--Cream);
    color: var(--Black);
    font-size: 17px;
    line-height: 20px;
    width:fit-content;
    text-transform: uppercase;
    font-weight: 700;
}

.resource-topic{
    /*background-color: var(--Orange);  Remember to remove */ 
    padding: 5px 15px;
    border-radius: 20px;
    background-color: #FFC795;
    color: var(--Black);
    font-size: 14px;
    line-height: 20px;
    width:fit-content;
    font-weight: 700;
}

.resource-by{
    padding: 5px 15px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--Black);
    font-size: 14px;
    line-height: 20px;
    width:fit-content;
    text-transform: uppercase;
    letter-spacing: 3px;
	font-size: 12px;
	font-weight: 700;
}

#resource-bottom {
    width: 100%;
    padding-bottom: 0px;
    padding-left: 0px;
}

#delete-btn{
    background-color: var(--Cream);
    color: var(--Black);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: var(--Orange);
    text-transform: unset;
    margin-top: 10px;
}

#edit-btn{
    background-color: var(--Cream);
    color: var(--Black);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: var(--Orange);
    text-transform: unset;
    margin-top: 10px;
}

i.left {
    margin-right: unset;
}

#save-btn{
    background-color: var(--Cream);
}

.btn-floating i {
    color: var(--Black);
}

#search-btn{
    background-color: var(--Orange);
    color: var(--bgBlack);
    font-weight: 700;
}

#search-btn:hover{
    background-color: var(--Orange);
    border: none;
}

#reset-btn{
    background-color: var(--Cream);
    color: var(--Black);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: var(--Orange);
    text-transform: unset;
    width: max-content;
}

#reset-btn:hover{
    font-weight: 400;
}


/* --------------------------------------------------- Add Resources Page*/

.datepicker-date-display {
    background-color: var(--Cream);
    color: var(--Black)
}

.datepicker-calendar-container {
    color: var(--Black);
}

.is-today {
    color: var(--Orange); 
}

.datepicker-table td.is-selected {
    background: var(--Orange) ;
}

.datepicker-cancel, .datepicker-done {
    color: var(--Orange);
    font-weight: 600;
}

.datepicker-clear {
    background-color: var(--bgBlack);
    color: var(--Cream);
    border-radius: 10px;
}

.datepicker-date-display .year-text {
    color: var(--Orange);
}

/* --------------------------------------------------- Profile Page */
.profile-container{
    height: 100vh;
    width: 100vw;
    padding-left:20px;
    padding-right: 20px;
}

.profile-row{
    width: 100%;
}

.profile-h{
    background-color: var(--Cream);
    border-radius: 5px;
    color: var(--Black);
}

.tabs .tab a{
    color: var(--Black);
}

.tabs .tab a:hover, .tabs .tab a.active {
    background-color: transparent;
    color: var(--Orange);
}

.tabs .indicator {
    background-color:  var(--Orange);
}

.tab-p{
    padding-top: 10px;
    background-color: var(--Cream);
}

.change-pw-btn{
   background-color: var(--Cream);
   border: 1px solid var(--Black);
   color: var(--Black);
}
.change-pw-btn:hover{
    background-color: var(--Cream);
    border: 1px solid var(--Orange);
    color: var(--Black);
    font-weight: initial;
 }

 .delete-p{
     font-size: 18px;
     color: var(--Black);
 }

 .delete-link{
    color: var(--Black);
    border-bottom: 5px solid var(--Orange);
     
 }


/* --------------------------------------------------- Manage Resources Page */

.manage-resources-c{
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 8px;
    padding-left: 30px;
    background-color: var(--Cream);
    padding-right: 30px;
}

#modal-btn{
    background-color: var(--Orange);
}

.info-modal{
    border-radius: 8px;
    background-color: var(--bgWhite);
}

.info-modal-h{
    color:var(--Black);
    font-size: 24px;
    font-weight: 700 ;
}

.info-modal-p{
    color:var(--Black);
    font-size: 18px;
}


.manage-resources-h{
    font-size: 24px;
}

.manage-featured-p{
    font-size: 16px;
}

.categories-card{
    background-color: var(--Cream);
}

.manage-categories-h{
    font-size: 20px;
}

.manage-resources-btn{
    background-color: var(--Black);
    color: var(--Cream);
    font-weight: 500;
    padding-top: 8px;
    padding-bottom: 45px;
    padding-left: 10px;
}

.manage-resources-btn:hover{
    background-color: var(--Cream);
    color: var(--bgBlack);
    border: 1px solid var(--Black) ;
}

.manage-card{
    border-radius: 8px;
    border: 1px solid #d5d1c4;
}

.container-manage-cat{
    margin-left: 20px;
}

.cat-name-p{
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
}

/* --------------------------------------------------- Footer */

.footer-bg{
    margin-top: 5rem;
    padding-top: 2rem;
    background-color: var(--Cream);
    
}

.footer-container{
    width: 100%;
    padding-bottom: 3rem;
}

.footer-row{
    margin-bottom:0px;
}

.footer-h{
    font-size: 24px;
    text-align: center;
}

@media only screen and (min-width: 768px) {
/* For desktop: */
.footer-h{
    text-align: left;
    }
}

.footer-p{
    font-size: 15px;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .footer-p{
        text-align: left;
    }
}

.footer-img{
    height: 50px;
    width: 50px;
}

.social-links li a i {
    width: 60px;
    height: 60px;
    padding: 24px 0;
    border-radius: 50%;
    font-size: 25px;
    line-height: 10px;
    text-align: center;
    color: var(--bgBlack);
    background: var(--Cream);
    transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: var(--Orange);
}
.social-links li{
    display: inline;
}