/* -------------------------------------------------- General Styles */
.light-background {
    background-color: var(--bgWhite);
}

.primary-btn {
    background-color: var(--bgBlack);
}

.main-text-color{
    color: var(--Black) ;
}

.dark-btn-text-color{
    color: var(--bgWhite) ;
}

.highlight-color{
    color: var(--Orange) ;
}

.darker-background{
    background-color: var(--Cream);
}

.font-roboto {
    font-family: var(--Roboto);
}

.text.center {
    text-align: var(--center);
}


/* -------------------------------------------------- Root Variables*/
:root {
    /* font-family: var(--Roboto); */
    --Roboto: 'Roboto', sans-serif;
    /* color: var(--bgWhite); 
       background-color: var(--bgWhite);*/
    --bgWhite: #FFFEFC;
    /* color: var(--bgBlack); 
       background-color: var(--bgBlack);*/
    --bgBlack: #000000;
    /* color: var(--Black); */
    --Black: #1A222D;
    /* color: var(--Orange); */
    --Orange: #FE9902;
    /* color: var(--Cream); */
    --Cream: #F9F5F1;
    /* text-align: center; */
    --center: center;
}

/* -------------------------------------------------- Body Styles*/
body{
    overflow-x: hidden;
}

h1 {
    font-weight: 700;
    font-size: 72px;
}


h2 {
    font-size: 36px;
    font-weight: 500;
}

h3{
    font-weight: 600;
    font-size: 34px;
}

p{
    font-size: 24px;
}

.btn{
    text-align: center;
    background-color: var(--bgBlack);
    text-transform: unset;
    border-radius: 10px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-top: 10px;
}
.btn:hover{
    color: var(--bgBlack);
    font-weight: 600;
    border-color: var(--bgBlack);
    border-style: solid;
    background-color: var(--bgWhite);
}

/* -------------------------------------------------- Navbar Styles*/

#logo{
    padding-left: 2rem;
    color: var(--Black) ;
    font-size: 40px;
    font-weight: 600;
    text-decoration: underline 10px solid var(--Orange);
}

#navbar-style{
    background-color: var(--Cream);
    color: var(--Black) ;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

#navbar-menu{
    color: var(--bgBlack);
}

nav ul a {
    color: var(--Black);
    font-weight: 500;
    font-size: 20px;
}

nav .sidenav-trigger i {
    height: 56px;
    line-height: 56px;
    color: var(--Black);
    font-size: 50px;
}

@media only screen and (min-width: 601px){
nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    color: var(--Black);
    font-size: 50px;
}
}

nav ul li.active {
    border-bottom: 3px solid var(--Orange);
    background-color: var(--Cream);
}

button{
    background-color: var(--Black);
}

.sidenav{
    background-color: var(--Cream);
}

.sidenav-close{
    background-color: var(--Cream);
}

.sidenav-logo{
    padding-left: 30px;
    text-decoration: underline 5px solid var(--Orange);
}

.close-icon{
    color: var(--Black);
}

.sidenav li>a>i.material-icons {
    float: right;
    color: var(--Black);
    font-size: 40px;
}

.sidenav-close {
    padding-top:10px;
    padding-bottom: 10px;
}
.sidenav-close:hover {
    background-color: var(--Cream);
}

#sidenav-btn:hover{
    background-color: var(--Cream);
    color: var(--bgBlack);
    border: 1px solid var(--Black) ;
}

/* --------------------------------------------------- Forms */

/* input field color */
.input-field {
    background-color: var(--Cream);
    border-style: solid;
    border-radius: 10px;
    border-color: var(--Cream);
  }

  /* icon prefix focus color */
  .input-field .prefix {
    color: #000;
  }

/* --------------------------------------------------- Landing Page */

.home-heading{
    font-weight: 700;
    font-size: 72px;
}

@media only screen and (min-width: 768px){
.home-heading {
    font-size: 80px;
}
}

.landing {
    background-repeat: no-repeat, no-repeat;
    min-width: 100vw;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    background-color: var(--Cream);
    padding-bottom: 20px;
}

.landing-img {
    width: 100%;
}

.landing-row {
    padding-top: 10px;
}

@media only screen and (min-width: 768px) {
/* For desktop: */
    .home-intro {
        font-size: 30px;
    }
}

#home-features-btn{
    background-color: var(--Black);
    color: var(--Cream);
    font-weight: 700;
}

#home-features-btn:hover{
    background-color: var(--Cream);
    color: var(--bgBlack);
    border: 1px solid var(--Black) ;
}

#featured-section{
    margin-top: 60px;
}

.featured-cat{
    font-size: 20px;
    color: #BABABA;
    font-weight: 600;
}

#home-login-btn{
    background-color: var(--Black);
    color: var(--Cream);
    font-weight: 700;
}
    
#home-login-btn:hover{
    background-color: var(--Cream);
    color: var(--bgBlack);
    border: 1px solid var(--Black) ;
}


/* --------------------------------------------------- Log In & Sign Up Pages */

.note-p{
    font-size: 15px;
}

.redirect-p{
    color: var(--Orange)
}

/* --------------------------------------------------- Flash Messages */

.flashes h4{
    line-height: 2;
    color: var(--Orange)
}

/* --------------------------------------------------- Resources */

.resource-add-btn{
    margin-bottom: 30px;
}

.resources-card{
    background-color: var(--Cream);
}

.resource-content{
    color: var(--Black);
}

.resource-title{
    font-size: 24px;
    font-weight: 700;
}

.resource-p{
    font-size: 14px;
}

.resource-topic{
    background-color: var(--Orange);
    border-radius: 10px;
    max-width: fit-content;
}

.topic-p{
    font-size: 15px;
}

#delete-btn{
    background-color: var(--Cream);
    color: var(--Black);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: var(--Orange);
    text-transform: unset;
}

#edit-btn{
    background-color: var(--Cream);
    color: var(--Black);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: var(--Orange);
    text-transform: unset;
}

i.left {
    margin-right: unset;
}

#save-btn{
    background-color: var(--Cream);
}

.btn-floating i {
    color: var(--Black);
}

.resources{
    height: 100vh;
}

#search-btn{
    background-color: var(--Orange);
    color: var(--bgBlack);
    font-weight: 700;
}

#search-btn:hover{
    background-color: var(--Orange);
    border: none;
}

#reset-btn{
    background-color: var(--Cream);
    color: var(--Black);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: var(--Orange);
    text-transform: unset;
    width: max-content;
}

#reset-btn:hover{
    font-weight: 400;
}

/* --------------------------------------------------- Add Resources Page*/

.datepicker-date-display {
    background-color: var(--Cream);
    color: var(--Black)
}

.datepicker-calendar-container {
    color: var(--Black);
}

.is-today {
    color: var(--Orange); 
}

.datepicker-table td.is-selected {
    background: var(--Orange) ;
}

.datepicker-cancel, .datepicker-done {
    color: var(--Orange);
    font-weight: 600;
}

.datepicker-clear {
    background-color: var(--bgBlack);
    color: var(--Cream);
    border-radius: 10px;
}

.datepicker-date-display .year-text {
    color: var(--Orange);
}

/* --------------------------------------------------- Manage Categories Page */
.categories-h{
    font-size: 24px;
}

.categories-card{
    background-color: var(--Cream);
}

/* --------------------------------------------------- Footer */

.footer-bg{
    margin-top: 5rem;
    padding-top: 2rem;
    background-color: var(--Cream);
    
}

.footer-container{
    width: 100%;
    padding-bottom: 3rem;
}

.footer-row{
    margin-bottom:0px;
}

.footer-h{
    font-size: 24px;
    text-align: center;
}

@media only screen and (min-width: 768px) {
/* For desktop: */
.footer-h{
    text-align: left;
    }
}

.footer-p{
    font-size: 15px;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .footer-p{
        text-align: left;
    }
}

.footer-img{
    height: 50px;
    width: 50px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 15px;
    line-height: 7px;
    text-align: center;
    color: var(--bgBlack);
    background: var(--Cream);
    transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: var(--Orange);
}
.social-links li{
    display: inline;
}