{% extends "base.html" %}
{% block content %}
<div class="container form-container">
    <!-- Page Header -->
    <div class="row resource-header">
        <div class="col s12 m12 l6">
            <h3 class=" add-resource-h center-align">Add a Resource to share with the Club</h3>
        </div>
        <div class="col s12 m12 l6 center-align">
            <img src="static/images/add-resources-heading.svg" alt="add resources" class="add-resource-img">
        </div>
    </div>
    <div class="row">
        <!-- Add a Resource Form -->
        <form class="col s12 m8 offset-m2 " method="POST" action="{{ url_for('add_resource') }}">
            <!-- Category Selection -->
            <div class="row field-row">
                <div class="input-field col s12">
                    <i class="material-icons prefix" id="resource-form-icon">folder_open</i>
                    <select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>Choose Category</option>
                        {% for category in categories %}
                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select for="category_name">
                    <label>Resource Category</label>
                </div>
            </div>
            <!-- Resource Name -->
            <div class="row field-row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">create</i>
                    <input id="resource_name" name="resource_name" minlength="3" maxlength="50" type="text" class="validate" 
                        required>
                    <label for="resource_name">Resource Name</label>
                    <span class="helper-text" data-error="The resource name should be between 3 - 50 characters." data-success="Awesome!">Give the new resource a cool name that is between 3 - 50 characters.</span>
                </div>
            </div>
            <!-- Resource Description -->
            <div class="row field-row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">format_align_left</i>
                    <textarea id="resource_description" name="resource_description" minlength="5" maxlength="200" class="materialize-textarea validate" required ></textarea>
                    <label for="resource_description">Resource Description</label>
                    <span class="helper-text" data-error="The description should be between 5 - 200 characters" data-success="Sounds interesting!">Write a description about the resource in 5-200 characters.</span>
                </div>
            </div>
            <!-- Date picker -->
            <div class="row field-row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">event</i>
                    <input id="resource_date" name="resource_date" type="text" class="datepicker validate">
                    <label for="resource_date">Date</label>
                    <span class="helper-text" data-success="Can't wait!">You can choose a date if it is an event, otherwise you can leave it blank.</span>
                </div>
            </div>
            <!-- Resource Link -->
            <div class="row field-row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">link</i>
                    <input id="resource_link" name="resource_link" minlength="5" type="url" class="validate" required>
                    <label for="resource_link">Link to the Resource</label>
                    <span class="helper-text" data-error="Rather try using a valid URL for example: https://www.google.com/" data-success="Excellent!">Paste the URL of the resource here, for example: https://www.google.com/</span>
                </div>
            </div>
            <!-- Topic selection -->
            <div class="row field-row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">label_outline</i>
                    <select id="topic_name" name="topic_name" class="validate" required>
                        <option value="" disabled selected>Choose Topic</option>
                        {% for topic in topics %}
                        <option value="{{ topic.topic_name }}">{{ topic.topic_name }}</option>
                        {% endfor %}
                    </select for="topic_name">
                    <label>Resource Topic</label>
                </div>
            </div>
            <!-- Form Buttons -->
            <div class="row center-align subit-btn-div">
                <!-- Cancel Button -->
                <a href="{{ url_for('get_resources')}}" class="waves-effect waves-light btn manage-resources-btn">
                    Cancel
                </a>
                <!-- Add Resource Button -->
                <button type="submit" class="waves-effect waves-light btn manage-resources-btn">
                    Add Resource
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}