{% extends "base.html" %}
{% block content %}
<!-- This page will only be visible to the admin -->
<h3 class="center-align">Add Featured Resource of the Month</h3>
<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('add_featured_resource') }}">
        <!-- category selection -->
        <div class="row field-row">
            <div class="input-field col s12">
                <i class="material-icons prefix">folder_open</i>
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled selected>Choose Category</option>
                    {% for category in categories %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select for="category_name">
                <label>Resource Category</label>
            </div>
        </div>
        <!-- category selection end -->
        <!-- Featured Resource Name -->
        <div class="row field-row">
            <div class="input-field col s12">
                <i class="material-icons prefix">create</i>
                <input id="featured_name" name="featured_name" minlength="5" maxlength="50" type="text" class="validate" required>
                <label for="featured_name">Featured Resource Name</label>
            </div>
        </div>
        <!-- Featured Resource Description -->
        <div class="row field-row">
            <div class="input-field col s12">
                <i class="material-icons prefix">format_align_left</i>
                <textarea id="featured_description" name="featured_description" minlength="5" maxlength="200"
                    class="materialize-textarea validate" required></textarea>
                <label for="featured_description"> Featured Resource Description</label>
            </div>
        </div>
        <!-- Date picker -->
        <div class="row field-row">
            <div class="input-field col s12">
                <i class="material-icons prefix">event</i>
                <input id="featured_date" name="featured_date" type="text" class="datepicker validate">
                <label for="featured_date">Date</label>
            </div>
        </div>
        <!-- Resource Link -->
        <div class="row field-row">
            <div class="input-field col s12">
                <i class="material-icons prefix">link</i>
                <input id="featured_link" name="featured_link" minlength="5" type="url" class="validate" required>
                <label for="featured_link">Link to Featured Resource</label>
            </div>
        </div>
        <!-- Topic selection -->
        <div class="row field-row">
            <div class="input-field col s12">
                <i class="material-icons prefix">label_outline</i>
                <select id="topic_name" name="topic_name" class="validate" required>
                    <option value="" disabled selected>Choose Topic</option>
                    {% for topic in topics %}
                    <option value="{{ topic.topic_name }}">{{ topic.topic_name }}</option>
                    {% endfor %}
                </select for="topic_name">
                <label>Resource Topic</label>
            </div>
        </div>
        <!-- Submit btn-->
        <div class="row center-align">
            <button type="submit" class="waves-effect waves-light btn manage-resources-btn ">
                Add Featured Resource
            </button>
        </div>
        <!-- Submit btn end-->
    </form>
</div>
    
{% endblock %}