{% extends "base.html" %}
{% block content %}
    <div class="container page-header-container ">
        <div class="row page-header-row">
            <div class="col s12 m12 l6 ">
                <h3 class=" page-h center-align">Manage Resources Admin Dashboard</h3>
            </div>
            <div class="col s12 m12 l6 center-align ">
                <img src="static/images/admin-dashboard.svg" alt="admin dashboard" class="add-resource-img">
            </div>
        </div>
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card manage-resources-c">
                    <h4 class=" manage-resources-h">Featured Resources Section
                        <span>
                            <!-- Modal Trigger -->
                            <a class="waves-effect waves-light btn-floating modal-trigger right" id="modal-btn" href="#modal-featured"><i class="material-icons">info_outline</i></a>
                            <!-- Modal Structure -->
                            <div id="modal-featured" class="modal info-modal">
                                <div class="modal-content">
                                <h4 class="info-modal-h"> 🧐 What is a Featured Resource?</h4>
                                <p class="info-modal-p">A Featured Resource is a resource chosen by the Administrator each month from each category to showcase their suggestion for that month. </p>
                                </div>
                            </div>
                        </span>
                    </h4>
                    <p class="manage-featured-p">Here you can add featured items that appear on the home page each month.</p>
                    <p class="manage-featured-p">You can edit the featured items directly on the home page.</p>
                    <div class="center-align featured-btn">
                        <!-- Add resource Button-->
                        <a href="{{ url_for('add_featured_resource') }}" class="waves-effect waves-light general-button"><i class="material-icons left btn-icon">add</i>Add Featured Resource</a>
                        <!-- Edit resource Button-->
                        <a href="{{ url_for('get_featured_resources') }}" class="waves-effect waves-light general-button"><i class="material-icons left btn-icon">edit</i>Edit Featured Resource</a>
                    </div>
                </div>
            </div>
            <!-- Category section -->
            <div class="col s12 m12 l12">
                <div class="card manage-resources-c">
                    <h4 class="manage-resources-h">Categories Section 
                        <span>
                            <!-- Modal Trigger -->
                            <a class="waves-effect waves-light btn-floating modal-trigger right" id="modal-btn" href="#modal-cat"><i class="material-icons">info_outline</i></a>
                            <!-- Modal Structure -->
                            <div id="modal-cat" class="modal info-modal">
                                <div class="modal-content">
                                <h4 class="info-modal-h"> 🧐 What is a category?</h4>
                                <p class="info-modal-p">A category can either be an Event to attend, Something to Read, a Tool to use or a Video to watch. It is the type of resource. </p>
                                </div>
                            </div>
                        </span>
                    </h4>
                    <p class="manage-featured-p">Here you can manage the current categories of resources.</p>
                    <!-- Add category button -->
                    <div class=" resource-btn-c center-align">
                        <a href="{{ url_for('add_category') }}" class="waves-effect waves-light general-button"><i class="material-icons left btn-icon">add</i>Add Category</a>
                    </div>
                    <!-- Current Categories -->
                    <div class="container container-manage-cat">
                        <div class="row" >
                            <h4 class="manage-categories-h">Current Categories</h4>
                            {% for category in categories %}
                            <div class="col s12 m6" >
                                <div class="card manage-card center-align">
                                    <div class="card-content">
                                        <p class="cat-name-p" >{{ category.category_name }}</p>
                                        <!-- Delete & Edit Buttons -->
                                        <div>
                                            <!-- Delete Btn Modal Trigger-->
                                            <a class="modal-trigger btn-small" id="delete-btn"href="#{{ category._id }}"><i class="material-icons left">delete_outline</i>Delete</a>
                                            <!-- Modal Structure -->
                                            <div id="{{ category._id }}" class="modal ">
                                                <div class="modal-content delete-resource-modal-content">
                                                    <i class="material-icons delete-icon">delete_outline</i>
                                                    <h4>Delete Resource</h4>
                                                    <p>Are you sure you want to <u>delete</u> the category?</p>
                                                </div>
                                                <div class="modal-btns">
                                                    <!-- cancel button -->
                                                    <a href="{{ url_for('admin_dashboard') }}" class="waves-effect waves-light btn modal-cancel-btn">
                                                        Cancel
                                                    </a>
                                                    <!-- submit button -->
                                                    <a href="{{ url_for('delete_category', category_id=category._id) }}" class="btn modal-delete-btn">
                                                        <i class="material-icons left">delete_outline</i>Delete
                                                    </a>
                                                </div>
                                            </div>
                                            <a href="{{ url_for('edit_category', category_id=category._id) }}" class="waves-effect waves-light btn-small" id="edit-btn"><i class="material-icons left">edit_note</i>Edit</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Topic section -->
            <div class="col s12 m12 l12">
                <div class="card manage-resources-c">
                    <h4 class="manage-resources-h">Topic Section 
                        <span>
                            <!-- Modal Trigger -->
                            <a class="waves-effect waves-light btn-floating modal-trigger right" id="modal-btn" href="#modal-topic"><i class="material-icons">info_outline</i></a>
                            <!-- Modal Structure -->
                            <div id="modal-topic" class="modal info-modal">
                                <div class="modal-content">
                                <h4 class="info-modal-h"> 🧐 What is a Topic?</h4>
                                <p class="info-modal-p">A Topic is the sub-type of the resource. It tells you what topic the resource is about for instance it could be about UX, UI, Development or Technology.</p>
                                </div>
                            </div>
                        </span>
                    </h4>
                    <p class="manage-featured-p">Here you can manage the current topics of resources.</p>
                    <!-- Add topics button -->
                    <div class=" resource-btn-c center-align">
                        <a href="{{ url_for('add_topic') }}" class="waves-effect waves-light general-button"><i class="material-icons left btn-icon">add</i>Add Topic</a>
                    </div>
                    <!-- Current Categories -->
                    <div class="container container-manage-cat">
                        <div class="row" >
                            <h4 class="manage-categories-h">Current Topics</h4>
                            {% for topic in topics %}
                            <div class="col s12 m6" >
                                <div class="card manage-card center-align">
                                        <div class="card-content">
                                            <p class="cat-name-p" >{{ topic.topic_name }}</p>
                                        <!-- Delete & Edit Buttons -->
                                        <div>
                                            <a href="{{ url_for('delete_topic', topic_id=topic._id) }}" class="waves-effect waves-light btn-small" id="delete-btn"><i class="material-icons left">delete_outline</i>Delete</a>
                                            <a href="{{ url_for('edit_topic', topic_id=topic._id) }}" class="waves-effect waves-light btn-small" id="edit-btn"><i class="material-icons left">edit_note</i>Edit</a>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}