{% extends "base.html" %}
{% block content %}
    <h3 class="center-align">Manage Resources Dashboard</h3>
    <hr>
    <div>
        <h4 class="center-align">Featured Resources Section</h4>
        <!-- Add resource Button-->
        <div class="center-align resource-add-btn">
            <a href="{{ url_for('add_featured') }}" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Add Featured Resource</a>
        </div>
    </div> 
    <hr> 
    <!-- Category section -->
    <div>
        <h4 class="center-align">Categories Section</h4>
        <!-- Add category button -->
        <div class="center-align resource-add-btn">
            <a href="{{ url_for('add_category') }}" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Add Category</a>
        </div>
        <!-- Current Categories -->
        <div class="container resources">
            <h4 class="categories-h center-align">Current Categories</h4>
            <div class="row">
                {% for category in categories %}
                <div class="col s12 m6">
                    <div class="card categories-card center-align">
                            <div class="card-content">
                                <span class="resource-title">{{ category.category_name }}</span>
                            </div>
                            <!-- Delete & Edit Buttons -->
                            <div class="card-action right-align">
                                <a href="{{ url_for('delete_category', category_id=category._id) }}" class="waves-effect waves-light btn-small" id="delete-btn"><i class="material-icons left">delete_outline</i>Delete</a>
                                <a href="{{ url_for('edit_category', category_id=category._id) }}" class="waves-effect waves-light btn-small" id="edit-btn"><i class="material-icons left">edit_note</i>Edit</a>
                        </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}