{% extends "base.html" %}
{% block content %}
<!-- This page will only be visible to the admin -->
<div class="container form-container ">
    <!-- Page Header -->
    <div class="row resource-header">
        <div class="col s12 m12 l6 ">
            <h3 class=" add-resource-h center-align">Edit a Featured Resource</h3>
        </div>
        <div class="col s12 m12 l6 center-align">
            <img src="/static/images/edit-reousrces-heading.svg" alt="edit resources" class="add-resource-img">
        </div>
    </div>
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('edit_featured_resource', featured_resource_id=featured_resource._id) }}">
            <!-- Category Selection -->
            <div class="row field-row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">folder_open</i>
                    <select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>Choose Category</option>
                        <!-- For Loop to find current category-->
                        {% for category in categories %}
                            {% if featured_resource.category_name  == category._id %}
                                <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                            {% else %}
                                <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select for="category_name">
                    <label>Resource Category</label>
                </div>
            </div>
            <!-- Featured Resource Name -->
            <div class="row field-row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">create</i>
                    <input id="featured_name" name="featured_name" minlength="5" maxlength="50" value={{featured_resource.featured_name}} type="text" class="validate" required>
                    <label for="featured_name">Featured Resource Name</label>
                    <span class="helper-text" data-error="The resource name should be between 5 - 50 characters." data-success="Awesome!">Give the new featured resource a cool name that is between 5 - 50 characters.</span>
                </div>
            </div>
            <!-- Featured Resource Description -->
            <div class="row field-row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">format_align_left</i>
                    <textarea id="featured_description" name="featured_description" minlength="5" maxlength="200" class="materialize-textarea validate" required>
                        {{- featured_resource.featured_description -}}
                    </textarea>
                    <label for="featured_description">Featured Resource Description</label>
                    <span class="helper-text" data-error="The description should be between 5 - 200 characters" data-success="Sounds interesting!">Write a description of the featured resource in 5-200 characters</span>
                </div>
            </div>
            <!-- Date picker -->
            <div class="row field-row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">event</i>
                    <input id="featured_date" name="featured_date" type="text" class="datepicker validate" value="{{ featured_resource.featured_date}}">
                    <label for="featured_date">Date</label>
                    <span class="helper-text" data-success="Can't wait!">You can choose a date if it is an event, otherwise, you can leave it blank.</span>
                </div>
            </div>
            <!-- Resource Link -->
            <div class="row field-row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">link</i>
                    <input id="featured_link" name="featured_link" minlength="5" type="url" class="validate" value="{{featured_resource.featured_link}}" required>
                    <label for="featured_link">Link to FeaturedResource</label>
                    <span class="helper-text" data-error="Rather try using a valid URL for example: https://www.google.com/" data-success="Excellent!">Paste the URL of the resource here, for example: https://www.google.com/</span>
                </div>
            </div>
            <!-- Topic selection -->
            <div class="row field-row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">label_outline</i>
                    <select id="topic_name" name="topic_name" class="validate" required>
                        <option value="" disabled selected>Choose Topic</option>
                        <!-- For Loop to find current topic-->
                        {% for topic in topics %}
                            {% if featured_resource.topic_name  == topic._id %}
                                <option value="{{ topic.topic_name }}" selected>{{ topic.topic_name }}</option>
                            {% else %}
                                <option value="{{ topic.topic_name }}">{{ topic.topic_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select for="topic_name">
                    <label>Resource Topic</label>
                </div>
            </div>
            <!-- Form Buttons -->
            <div class="row center-align">
                <!--Cancel Button -->
                <a href="{{ url_for('get_featured_resources')}}" class="general-button">
                    Cancel
                </a>
                <!-- Edit Button -->
                <button type="submit" class="general-button">
                    Update Featured Resource
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}