{% extends "base.html" %}
{% block content %}
    <!-- Landing Section -->
    <div class="container landing">
        <div class="row landing-row ">
            <div class="col s12 m12 l6">
                <h1 class="home-heading">Welcome to the Growth Club!</h1>
                <h2>Where you can find & share resources to learn, attend, read, watch</h2>
                <p >A platform related to all things UX, UI , Development and Tech. It is collection of things you can use, read, watch and focus on. Also, add your resources to share with the community.</p>
                <a href="#featured-section" class="waves-effect waves-light btn" id="home-features-btn">See Features of the month</a>
            </div>
            <div class="col s12 m12 l6">
                <img src="static/images/growth-club-home.png" alt="people working together" class="landing-img">
            </div>
        </div>
    </div>
    <!-- Featured Section -->
    <main id="featured-section">
        <h3 class="center-align">Featured Resources of the Month</h3>
        <div class="container">
            <div class="row">
                <!-- Loop over all of the items from the resource collection-->
                {% for featured_resource in featured_resources %}
                <div class="col s12 m6 card-container">
                    <div class="card resources-card">
                        <div class="card-content resource-content">
                            <!-- Category -->
                            <p class="featured-cat right">{{ featured_resource.category_name }}</p>
                            <!-- Title -->
                            <h3 class="resource-title">{{ featured_resource.featured_name }}</h3>
                            <!-- Date -->
                            <p class="resource-p">{{ featured_resource.featured_date }}</p>
                            <!-- Description -->
                            <p class="resource-p">{{ featured_resource.featured_description }}</p>
                            <!-- Link -->
                            <a href="{{ featured_resource.featured_link }}" target="_blank" rel="noopener noreferrer">View resource</a>View resource</a>
                            {% if session.user|lower == "admin"|lower %}
                            <div class="card-action right-align">
                                <!-- Edit Btn-->
                                <a href="{{ url_for('edit_featured_resource', featured_resource_id=featured_resource._id) }}" class="waves-effect waves-light btn-small" id="edit-btn"><i class="material-icons left">edit_note</i>Edit</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Log In button -->
        <div class="center-align">
            <a href="{{ url_for('login') }}" class="waves-effect waves-light btn" id="home-login-btn">Log In to View All</a>
        </div>
    </main>
{% endblock %}