{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Log Into My Account</h3>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
        <div>
            <!-- Username -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">person_outline</i>
                    <input id="username" name="username" type="text" class="validate" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$">
                    <label for="username">Username</label>
                </div>
            </div>
            <!-- Username end-->
            <!-- Email -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="far fa-envelope prefix"></i>
                    <input id="email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
              </div>
            <!-- Email end-->
            <!-- Password -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">lock_outline</i>
                    <input id="password" name="password" type="password" class="validate" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$">
                    <label for="password">Password</label>
                </div>
            </div>
            <!-- Password end -->
        </div>
    </form>
</div>
<!-- Log In -->
<div class="row center-align">
    <button type="submit" class="waves-effect waves-light btn-large ">
      Log In 
     </button>
  </div>
 <!-- Register end-->
 <!-- Info -->
 <div class="row">
    <div class="col s12">
        <p class="center-align note-p" >Don't have an account? 
            <a href="{{ url_for('register') }}" class="redirect-p">Create an account here!</a>
        </p>
    </div>
 </div>
<!-- Info end-->
{% endblock %}