{% extends "base.html" %}
{% block content %}

<div class="container userform-container">
    <!-- Page Heading -->
    <div class="row resource-header-row ">
        <div class="col s12 m12 l12 ">
            <h3 class=" resource-h center-align">Join the Growth Club for Free!</h3>
        </div>
    </div>
    <div class="row user-form-row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
            <!-- Username -->
            <div class="row field-row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">person_outline</i>
                    <input id="username" name="username" type="text" class="validate" minlength="5" maxlength="15"
                            pattern="^[a-zA-Z0-9]{5,15}$">
                    <label for="username">Username</label>
                    <span class="helper-text" data-error="Your username should be between 5-15 characters" data-success="Awesome!">Choose an awesome username. This should be between 5-15 characters and you can use numbers and letters.</span>
                </div>
            </div>
            <!-- Email -->
            <div class="row field-row">
                <div class="input-field col s12">
                    <i class="far fa-envelope prefix"></i>
                    <input id="email" name="email" type="email" class="validate" required>
                    <label for="email">Email</label>
                    <span class="helper-text" data-error="Your email address should be for example: excited@gmail.com" data-success="Nice!">Type an email address for example: excited@gmail.com</span>
                </div>
            </div>
            <!-- Password -->
            <div class="row field-row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">lock_outline</i>
                    <input id="password" name="password" type="password" class="validate" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$">
                    <label for="password">Password</label>
                    <span class="helper-text" data-error="Type a valid password. It should contain 5-15 characters." data-success="Nice!">Choose a secret password between 5-15 characters. You can use numbers and letters.  </span>
                </div>
            </div>
            <!-- Register -->
            <div class="row center-align">
                <div class="col s12">
                    <button type="submit" class="waves-effect waves-light btn manage-resources-btn ">
                        Sign Up
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!-- Info -->
    <div class="row">
        <div class="col s12">
            <p class="center-align note-p">We will never share your information with anyone! </p>
            <p class="center-align note-p">
                Already Registered?
                <a href="{{ url_for('login') }}" class="redirect-p delete-link">Log In here</a>
            </p>
        </div>
    </div>  
    <!-- Info end-->
</div>
{% endblock %}