{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Club Resources</h3>

    <div class="container">
        <div class="row ">
            <form action="{{ url_for('search') }}" method="post" class="col s12">
                <div class="row valign-wrapper center-align">
                    <div class="input-field col s12 m8">
                        <i class="material-icons prefix">search</i>
                        <input type="text" name="query" id="query" minlength="2" class="validate" required>
                        <label for="query">Search Resources</label>
                    </div>
                    <div class="col s12 m4">
                        <button type="submit" class="waves-effect waves-light btn" id="search-btn">
                            <i class="material-icons prefix left">search</i> Search
                        </button>
                        <a href="{{ url_for('get_resources') }}" class="waves-effect waves-light btn" id="reset-btn">Reset</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="center-align resource-add-btn">
        <a href="{{ url_for('add_resource') }}" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Add Resource</a>
    </div>

    {% if resources|length > 0 %}
    <div class="container resources">
        <div class="row">
            <!-- Loop over all of the items that the .find() function from the resource collection-->
            {% for resource in resources %}
            <div class="col s12 m6">
                <div class="card resources-card">
                    <div class="card-content resource-content">
                        <a class="btn-floating right" id="save-btn"><i class="material-icons save-icon">bookmark_border</i></a>
                        <h3 class="resource-title">{{ resource.resource_name }}</h3>
                        <strong>{{ resource.category_name }}</strong>
                        <p class="resource-p">{{ resource.resource_date }}</p>
                        <p class="resource-p">{{ resource.resource_description }}</p>
                        <a href="{{ resource.resource_link }}" target="_blank" rel="noopener noreferrer">View resource</a>
                        <div class="resource-topic">
                            <p class="topic-p">{{ resource.topic_name }}</p>
                        </div>
                        <p class="resource-p">by: {{ resource.created_by }}</p>
                    </div>
                    <div class="card-action right-align">
                            <a href="{{ url_for('delete_resource', resource_id=resource._id) }}" class="waves-effect waves-light btn-small" id="delete-btn"><i class="material-icons left">delete_outline</i>Delete</a>
                            <a href="{{ url_for('edit_resource', resource_id=resource._id) }}" class="waves-effect waves-light btn-small" id="edit-btn"><i class="material-icons left">edit_note</i>Edit</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
        <h3 class="center-align">No Results Found</h3>
    {% endif %}
{% endblock %}
    